package {{PACKAGE_PATH}}

import {{BASE_PACKAGE}}.core.component.AppComponentContext
import {{BASE_PACKAGE}}.core.component.StatefulComponent
import {{BASE_PACKAGE}}.core.component.UiEvent
import {{BASE_PACKAGE}}.core.component.UiState

interface {{FEATURE_NAME}}Component : StatefulComponent<{{FEATURE_NAME}}Component.State, {{FEATURE_NAME}}Component.Event> {
    data class State(val placeholder: String = "") : UiState

    sealed interface Event : UiEvent {
        data object PlaceholderClicked : Event
    }

    fun interface Factory {
        fun create(componentContext: AppComponentContext): {{FEATURE_NAME}}Component
    }
}
